<% content_for :body_type do%>
dashboard<% end %>
	
<h3> Your current favorites:</h3>


<br />

<div class="search-form">
		<h2>Search for a new movie to add:</h1>
			<form action="/search" method="get">
				<input id="movie" name="movie" type="text" placeholder="Search any movie" />
				<input name="commit" type="submit" value="Search"/>
	 		</form>