// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newsession{
	text-align: center;
	background-image: asset-data-url("http://i.imgur.com/llK0i55.jpg");
	background-size: cover;
	color: white;
	margin-top: 30px;
}

.homelogo{
	text-align: center;
	margin-top: 40px;
}